@model IEnumerable<Tienda.LogicaAplicacion.DTOs.PedidoDTO>

@{
    ViewData["Title"] = "Anular pedido";
}

@if(!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert-danger">
        @ViewBag.Error
    </div>
}


@if(ViewBag.MostrarFormulario == true)
{
<div class="container-fluid">
        <a asp-action="Index" class="btn btn-danger">Atras</a>               
    <div class="row">
        <div class="col-12">
            
                    <h2>Lista de pedidos</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Precio</th>
                                <th>Anular</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.pedidos)
                            {
                                <tr>
                                    <td id="idPedido">@item.Id</td>
                                    <td>@item.Fecha</td>
                                    <td>@item.Cliente.Nombre</td>
                                    <td>@item.PrecioTotal</td>
                                    <td>
                                    <form asp-action="anularPedido" method="post">
                                        <input type="hidden" name="Id" value="@item.Id" id="Id"/>
                                        <button type="submit" class="btn btn-danger">Anular</button>
                                    </form>                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            
            
        </div>
    </div>
    </div>
} 
else
{
    <form asp-action="buscarPedidosAanular">
    <div class="form-group py-1 my-1">
        <label>Seleccione la fecha del pedido</label>
        <br />
        <input type="date" name="fecha" id="fecha"/>
        <br />
        <input type="submit" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-danger">Atras</a>
    </div>
</form>
}

