@model Tienda.LogicaAplicacion.DTOs.PedidoDTO

@{
    ViewData["Title"] = "Nuevo Pedido";
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert-danger">
        @ViewBag.Error
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <h2>Agregar articulos al pedido</h2>
            <form asp-action="AgregarLinea">
                <div asp-validation-summary="ModelOnly" class="text-danger py-5 my-5"></div>
                <div class="form-group">
                    <label for="idArticulo">Seleccione un articulo:</label>
                    <br />
                    <select id="idArticulo" name="idArticulo">
                        <option value="-1">Selecione...</option>
                        @if (ViewBag.articulos != null)
                        {
                            @foreach (var articulo in ViewBag.articulos)
                            {
                                <option value=@articulo.Id>@articulo.Nombre</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group w-50 my-2">
                    <input id="Cantidad" name="Cantidad" class="form-control" type="number" placeholder="Cantidad" />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Agregar al carrito" class="btn btn-primary" />
                </div>
            </form>
            <h2 class="mt-4">Finalizar pedido</h2>
            <form asp-action="Create" class="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group my-1 py-2">
                    <label for="tipoPedido">Seleccione tipo de pedido:</label>
                    <br />
                    <select id="tipoPedido" name="tipoPedido">
                        <option value="0">Seleccione...</option>
                        <option value="1">Pedido comun</option>
                        <option value="2">Pedido express</option>
                    </select>
                </div>
                <div class="form-group my-1 py-2">
                    <label for="idCliente">Seleccione un cliente:</label>
                    <br />
                    <select id="idCliente" name="idCliente">
                        <option value="-1">Selecione un cliente:</option>
                        @if (ViewBag.clientes != null)
                        {
                            @foreach (var cliente in ViewBag.clientes)
                            {
                                <option value="@cliente.Id">@cliente.Nombre @cliente.Apellido</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group py-1">
                    <label for="IVA">IVA:</label>
                    <br />
                    <input id="IVA" name="IVA" type="number" value="22" />
                </div>
                <div class="form-group py-1" id="recargoExpressDiv">
                    <label for="RecargoExpress">Recargo por tipo de pedido:</label>
                    <br />
                    <input id="RecargoExpress" name="RecargoExpress" type="number" value="10" />
                </div>
                <div class="form-group py-1" id="recargoExpressHoyDiv">
                    <label for="RecargoExpressHoy">Recargo por entrega en el día:</label>
                    <br />
                    <input id="RecargoExpressHoy" name="RecargoExpressHoy" type="number" value="15"/>
                </div>
                <div class="form-group py-1" id="recargoComunDiv">
                    <label for="RecargoComun">Recargo por tipo de pedido</label>
                    <br />
                    <input id="RecargoComun" name="RecargoComun" type="number" value="5"/>
                </div>
                <div class="form-group py-1">
                    <label for="FechaEntrega">Fecha de entrega:</label>
                    <br />
                    <input id="FechaEntrega" name="FechaEntrega" type="Date" />
                </div>




                <div class="form-group mt-3">
                    <input type="submit" value="Crear Pedido" class="btn btn-primary" />
                   
                        <input id="mensaje" name="mensaje" value="" />
                        
                    
                </div>
            </form>
        </div>

        <div class="col-5">
            @if (ViewBag.lineas != null)
            {
                <div class="w-90">
                    <h3 class="">Carrito</h3>
                    <table class="table table-sm table-hover p-2 w-75">
                        <thead>
                            <tr>
                                <th scope="col">Articulo</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var linea in ViewBag.lineas)
                        {
                            <tr>
                                <td>@linea.Articulo.Nombre</td>
                                <td>@linea.Cantidad</td>
                            </tr>
                        }
                        </tbody>

                    </table>
                </div>
            }
        </div>
</div>
</div>

@ViewBag.Message

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //Santiago: Script que oculta/muestra los divs con los recargos en función del tipo de pedido que se seleccione
        // en el select principal
        document.addEventListener("DOMContentLoaded", function () {
            const tipoPedidoSelect = document.getElementById("tipoPedido");
            const recargoExpressDiv = document.getElementById("recargoExpressDiv");
            const recargoExpressHoyDiv = document.getElementById("recargoExpressHoyDiv");
            const recargoComunDiv = document.getElementById("recargoComunDiv");

            function mostrarOcultarCamposRecargo() {
                const tipoPedido = tipoPedidoSelect.value;
                if (tipoPedido == 1) { // Pedido Común
                    recargoComunDiv.style.display = "block";
                    recargoExpressDiv.style.display = "none";
                    recargoExpressHoyDiv.style.display = "none";
                } else if (tipoPedido == 2) { // Pedido Express
                    recargoComunDiv.style.display = "none";
                    recargoExpressDiv.style.display = "block";
                    recargoExpressHoyDiv.style.display = "block";
                } else {
                    //si no hay tipo de pedido asumimos que no se seleccionó ninguno en select
                    recargoComunDiv.style.display = "none";
                    recargoExpressDiv.style.display = "none";
                    recargoExpressHoyDiv.style.display = "none";
                }
            }

            mostrarOcultarCamposRecargo(); 
            tipoPedidoSelect.addEventListener("change", mostrarOcultarCamposRecargo);
        });
    </script>
}
