@using Tienda.LogicaAplicacion.DTOs
@model Tienda.LogicaAplicacion.DTOs.PedidoDTO

@{
    ViewData["Title"] = "Create";
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert-danger">
        @ViewBag.Error
    </div>
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="tipoPedido">Selecciones tipo de pedido:</label>
                <select id="tipoPedido" name="tipoPedido">
                    <option value="0">Seleccione...</option>
                    <option value="1">Pedido comun</option>
                    <option value="2">Pedido express</option>
                </select>                
            </div>                        
                <div class="form-group">
                <label for="idCliente">Selecciona un cliente:</label>
                <select id="idCliente" name="idCliente">
                        <option value="-1">Seleciona un cliente:</option>
                        @if (ViewBag.clientes != null)
                        {                            
                            @foreach (ClienteDTO cliente in ViewBag.clientes)
                            {
                                <option value="@cliente.Id">@cliente.Nombre @cliente.Apellido</option>
                            }                            
                        }                        
                    </select>                              
                </div>                
                <div class="form-group">
                    Lineas:
                    @if (ViewBag.lineas != null)
                    {
                        @foreach (LineaDTO linea in ViewBag.lineas)
                        {
                            <p>@linea.Articulo.Nombre @linea.Cantidad</p>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="IVA">IVA:</label>
                    <input id="IVA" name="IVA" type="number" value="22"/>                                    
                </div>
            <div class="form-group">
                <label for="FechaEntrega">Fecha de entrega:</label>
                <input id="FechaEntrega" name="FechaEntrega" type="Date" />
            </div>




            <div class="form-group">
                <input type="submit" value="Crear Pedido" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <form asp-action="AgregarLinea">
                <div asp-validation-summary="ModelOnly" class="text-danger py-5 my-5"></div>
                <div class="form-group">
                    <label for="idArticulo">Selecciona un articulo:</label>
                    <select id="idArticulo" name="idArticulo">
                        <option value="-1">Seleciona un articulo:</option>
                        @if (ViewBag.articulos != null)
                        {
                            @foreach (ArticuloDTO articulo in ViewBag.articulos)
                            {
                                <option value=@articulo.Id>@articulo.Nombre</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="Cantidad" class="control-label">Ingrese cantidad</label>
                    <input id="Cantidad" name="Cantidad" class="form-control" type="number" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar linea" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Atras</a>
</div>

@ViewBag.Message

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
