@model IEnumerable<Tienda.LogicaAplicacion.DTOs.ClienteDTO>

@{
    ViewData["Title"] = "Index";
}
<div>
    <form method="post" action="Cliente/BuscarPorNombreApellido">
        <label for="opcion">Buscar por nombre/apellido</label>
        <br>
        <label for="nombreApellido">Ingrese el valor:</label>
        <input type="text" id="nombreApellido" name="nombreApellido" placeholder="" />
        <input type="submit" value="Buscar"/>
    </form>
</div>
<div>
    <form method="post" action="Cliente/BuscarPorMonto">
        <label for="opcion">Buscar por monto </label>
        <br>
        <label for="valor">Ingrese el valor:</label>
        <input type="text" id="valor" name="valor" placeholder="" />
        <input type="submit" value="Buscar" />
    </form>
</div>

@ViewBag.Message

<p>
    @* <a asp-action="Create" class="btn btn-primary">Nuevo cliente</a> *@
    <a asp-action="ReturnToHome" class="btn btn-danger">Atrás</a>
    
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazonSocial)
                </th>
                <th>
                    Calle
                </th>
                <th>
                    Numero
                </th>
                <th>
                    Ciudad
                </th>
                <th>
                    Distancia desde tienda
                </th>  
            </tr>
        </thead>
        <tbody>
            @if(Model!=null && Model.Count() != 0){           
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazonSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.distanciaDesdeTienda)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
        } else
        {
                <tr>
                    <td colspan="6" class="text-center">No hay clientes registrados</td>
                </tr>
        }
        </tbody>
    </table>


