@model Tienda.LogicaAplicacion.DTOs.ArticuloDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar
</h1>

<h3>Quieres eliminar este articulo?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
    </dl>
  
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input asp-for="Nombre" type="hidden" />
        <input asp-for="Codigo" type="hidden" />
        <input asp-for="Descripcion" type="hidden" />
        <input asp-for="stock" type="hidden" />
        <input asp-for="PrecioUnitario" type="hidden" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
    </form>
</div>
